.video-wrapper {
  width: 75%;
  margin: 0 auto;
  padding-top: 5vh;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: block;
}

.video iframe {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.projInfo {
  margin: auto 20vw;
  text-align: left;
  display: block;
  font-size: 16px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen
and (min-device-width : 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio : 3) {

  .projInfo {
    font-size: 3vw;
  }

}
