body {
  font-family: helvetica;
  font-weight: 400;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

video {
  display: none;
}

nav {
  width: 10px;
  position: fixed;
  writing-mode: vertical-lr;
  margin-top: 5vh;
  font-size: 1vw;
}


/** ABOUT PAGE **/

.about {
  text-align: center;
  width: 100vw;
  padding-top: 45vh;
}

.about2 {
  text-align: center;
  width: 100vw;
  font-style: italic;
  font-size: .8vw;
}

.clients {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.notitalic {
  font-style: normal;
}

/** PROJECTS **/

.title {
  margin-top: 5px;
}

.dpimage {
  width: 100vw;
  text-align: center;
  font-style: italic;
  font-size: 1.5vh;
}

.dpimage img {
  width: 60vw;
  margin-top: 2vh;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: pink;
}

a:active {
  text-decoration: none;
}


.reel {
  padding-top: 10vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media only screen
and (min-device-width : 375px)
and (max-device-width: 812px) {

  nav {
    font-size: 3.8vw;
  }

  .title {
    font-size: 2vw;
  }

  .dpimage {
    padding-left: 1vw;
  }

  .about {
    padding-top: 35vh;
    width: 90vw;
    margin-left: 6vw;
    padding-left: 10px;
    margin-right: 3.5vw;
    font-size: 3vw;
  }

  .clients {
    width: 90vw;
    bottom: 5vh;
    margin-left: 6vw;
    margin-right: 3.5vw;
    font-size: 3vw;
  }

}
